<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428126162031-17g57rtu0t17b0bikov55agpguc0dlh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428126162031-17g57rtu0t17b0bikov55agpguc0dlh9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>428126162031-91ftvp33ar5qo3arl7veji0eroqsb7e3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuvrQ6xI3ZC-b2U_s-PrJAlKDj8_bVHzw</string>
	<key>GCM_SENDER_ID</key>
	<string>428126162031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flymate</string>
	<key>PROJECT_ID</key>
	<string>sereneanonymous-6d1eb</string>
	<key>STORAGE_BUCKET</key>
	<string>sereneanonymous-6d1eb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428126162031:ios:e77424e3cc7d3e6933519a</string>
</dict>
</plist>